{% extends '::base.html.twig' %}

{% block content %}

<div class="container">

	<h1>Group Evaluations - Overview</h1>
	
	<hr />
	<br />
	
	<div class="alert alert-danger">
		<center>
		<h3>There is no test available in production environment.</h3><br /><h3>Please add test first before creating any group evaluations.</h3>
		</center>
	</div>
	
</div>
	
{% endblock %}
